@inject IJSRuntime JsRuntime
@using DA.Whisper;

@page "/"

<h1>DA.WhisperWasm Debug</h1>

<button class="btn btn-primary" @onclick="OnButtonClick">Show Whipser System Info</button>

@code
{
    private async void OnButtonClick(MouseEventArgs e)
    {
       await JsRuntime.InvokeVoidAsync("alert", $"{DA.Whisper.Whisper.GetSystemInfo()}");
    }
}
